# Packages required for the validation (update cache on the 2023-08-18)
https://github.com/midas-network/SMHvalidation/archive/refs/heads/new_input_format.zip #v0.0.2
arrow
covidcast
cowplot
data.table
dplyr
ggplot2
ggpubr
gh
glue
grDevices
grid
gridExtra
gtable
jsonlite
lubridate
purrr
readr
remotes
scales
stringr
tibble
tidyr
tidyselect
